# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pro
*.pro.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
# resource
resource/*

#vscode
.vscode

#qt project files
*.pro.user*
